h1{
    color: white;
    font-style: oblique;
    text-align: center;
    font-size: 150px;
}
body{
    background-color: pink;
}

h2{
   font-size: 90px;
   color: white;
   text-align: center;

}
p{
    font-size: larger;
    font-style: unset;
color: purple;
}
.images{
    width: 1610px
}

